<p>
  form-group works!
</p>
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
  


      <!-- We'll add our form controls here -->
      <div>
          <label>Image</label>
          <input type="file" formControlName="image">
          <small [hidden]="myForm.controls.image.valid || (myForm.controls.image.pristine && !submitted)">
              Image is required.
          </small>
        </div>
        


      <div>
  <label>Name</label>
  <input type="text" formControlName="name">
  <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
      Name is required (minimum 5 characters).
  </small>
</div>


  <div formGroupName="address">
    <label>Address</label>
    <input type="text" formControlName="street">
    
</div>
<div formGroupName="address">
    <label>Street</label>
      <input formControlName="street">
      <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
          street required
      </small>

    <label>Postcode</label>
      <input type="text" formControlName="postcode">
</div>


<!--  The other way for above -->

<!-- <div formGroupName="address">
    <input formControlName="street">
</div>
<div formGroupName="address">
    <input formControlName="postcode">
</div> -->





      <!-- We'll add our form controls here -->
  
      <button type="submit">Submit</button>
  

  </form>